
<div class="container">
    <div class="Form-Result">

    </div>
    <div class="accordion-config">
        <div style="width:100%; padding:10px; background-color:antiquewhite">
            <select>
                <option>Select Form</option>
                <option>Form A</option>
                <option>Form B</option>
                <option>Form C</option>
            </select>
        </div>
        <details class="default square">
            <summary>Form Information</summary>
            <p>If your browser supports this element, it should allow you to expand and collapse these details.</p>
        </details>
        <details class="primary square">
            <summary>Running NO</summary>		<p>If your browser supports this element, it should allow you to expand and collapse these details.</p>
        </details>
        <details class="success">
            <summary>Field Data</summary>		<p>If your browser supports this element, it should allow you to expand and collapse these details.</p>
        </details>
        <details class="default square">
            <summary>Workflow</summary>
            <p>If your browser supports this element, it should allow you to expand and collapse these details.</p>
        </details>
        <details class="primary square">
            <summary>Form Step</summary>		<p>If your browser supports this element, it should allow you to expand and collapse these details.</p>
        </details>
        <details class="success">
            <summary>Download current config (json)</summary>		<p>If your browser supports this element, it should allow you to expand and collapse these details.</p>
        </details>
    </div>
    <div style="clear:both;"></div>
</div>


            
