
    <div class="row">
        <div id="ResultPane" class="col-md-9">
        
        </div>
        <div id="ConfigPane" class="col-md-3" style="background-color:gray;">
            <div class="container">
                <details class="default square">
                    <summary>Click to <span class="open">open</span><span class="close">close</span></summary>
                    <p>If your browser supports this element, it should allow you to expand and collapse these details.</p>
                </details>
                <details class="primary square">
                    <summary>Click to <span class="open">open</span><span class="close">close</span></summary>		<p>If your browser supports this element, it should allow you to expand and collapse these details.</p>
                </details>
                <details class="success">
                    <summary>Click to <span class="open">open</span><span class="close">close</span></summary>		<p>If your browser supports this element, it should allow you to expand and collapse these details.</p>
                </details>
            </div>
            
        </div>
    </div>
